<p>setlists/index</p>

<% current_user.setlists.each do |s| %>
<a href="/setlists/<%=s.id%>">
<%= s.name %><br>
<%= s.comments %><br>

<br><br>
<%end%>

<%= link_to "New Setlist", new_setlist_path(current_user.setlists.new) %>
