<div class="flex-row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h1>Welcome to Setlist Pro</h1>
    <br>
    <h4>Collaberate on setlists and invite people to add songs with no sign-up required. From YouTube, Spotify, SoundCloud, etc. Share groups of songs from any platform. </h4>
    <br>

    <img src="../../assets/setlist.jpeg" class="img-fluid banner" alt="Responsive image"></div>
  </div>
</div>
