<h1>Home#index poop</h1>
<p>Find me in app/views/home/index.html.erb</p>

<a href="/users/<%=current_user.id%>/setlists/new">Create a new Setlist</a>
<br>
<a href="/users/<%=current_user.id%>/songs/new">Create a new Song</a>
<br>
<a href="/users/<%=current_user.id%>/songs/index">View current songs</a>
<br>
<a href="/users/<%=current_user.id%>/setlists/index">View all Setlists</a>