<p>Edit Song</p>

<%= form_for (@song) do |f| %>
<%= render 'form', f: f %>
<%= f.submit %>
<%end%>

<%= button_to "Delete", {:controller => :songs, :id => @song.id, :action => 'destroy' }, :method => :delete %>


